
                            <div class="main-header">
                                <h2>DASHBOARD</h2>
                                <em>Summary of Institution Exposure</em>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i>Graphical Representation of Exposure</h3>
                                        </div>
                                        <div class="widget-content">

                                            <div id="mychart3">
                                                <div fusioncharts
                                                     width="720"
                                                     height="750"
                                                     type="Doughnut2D.swf"                                                     
                                                     datasource="{{bucketSource}}">

                                                </div>
                                            </div>


                                        </div>
                                        <!--<div class="widget-content">-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- SALES INFO SUMMARY -->
                                    <div class="widget">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-bar-chart-o"></i> Exposure</h3> <em></em>
                                        </div>
                                        <div class="widget-content">
                                            <table id="sectorexposureTable" class="table table-hover table-striped table-bordered table-advanced tablesorter display datatable" height="290">

                                                <thead>
                                                    <tr>
                                                        <th>Classification</th>
                                                        <th>Total Exposure</th>
                                                        <th>Total Collateral</th>
                                                        <th>Total Count</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="bucketexposure in vm.bucketexposure">
                                                        <td>
                                                            {{ bucketexposure.Name}}
                                                        </td>
                                                        <td>
                                                            {{ bucketexposure.Exposure | currency :"":0}}
                                                        </td>

                                                        <td>
                                                            {{ bucketexposure.TotalECL | currency :"":0}}
                                                        </td>

                                                        <td>
                                                            {{ bucketexposure.RecCount }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END SALES INFO SUMMARY -->
                                </div>
                            </div>
                          
                            <div class="row">
                                    <div class="col-md-6">
                                        <!-- WIDGET VISIT AND SALES CHART -->
                                        <div class="widget">
                                            <div class="widget-header">
                                                <h3><i class="fa fa-bar-chart-o"></i>Graphical Representation of Exposure by Portfolio</h3>
                                            </div>
                                            <div class="widget-content">

                                                <div id="mychart">
                                                    <div fusioncharts
                                                         width="600"
                                                         height="300"
                                                         type="pie2d"
                                                         datasource="{{portfolioSource}}">

                                                    </div>
                                                </div>


                                            </div>
                                            <!--<div class="widget-content">-->

                                        </div>
                                        <!-- END WIDGET VISIT AND SALES CHART -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- WIDGET VISIT AND SALES CHART -->
                                        <div class="widget">
                                            <div class="widget-header">
                                                <h3><i class="fa fa-bar-chart-o"></i>Graphical Representation of Exposure by Sector</h3>
                                            </div>
                                            <div class="widget-content">
                                                <div id="mychart2">
                                                    <div fusioncharts
                                                         width="660"
                                                         height="300"
                                                         type="bar2d"
                                                         datasource="{{sectorialSource}}">

                                                    </div>
                                                </div>


                                            </div>
                                            <!--<div class="widget-content">-->
                                        </div>
                                        <!-- END WIDGET VISIT AND SALES CHART -->
                                    </div>


                                </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <!-- WIDGET VISIT AND SALES CHART -->
                                <div class="widget">
                                    <div class="widget-header">
                                        <h3><i class="fa fa-bar-chart-o"></i>Graphical Representation of Exposure by Sector</h3>
                                    </div>
                                    <div class="widget-content">
                                        <div id="mychart2">
                                            <div fusioncharts
                                                 width="1300"
                                                 height="550"
                                                 type="column2d"                                                
                                                 datasource="{{sectorialSource}}">
                                            </div>
                                        </div>


                                    </div>
                                    <!--<div class="widget-content">-->
                                </div>
                                <!-- END WIDGET VISIT AND SALES CHART -->
                            </div>

                        </div>
                        <!-- /main -->


    